@model WebApplication2.Models.addtocart

@{
    ViewData["Title"] = "addtocarts";
    Layout = "~/Views/Shared/header_footer.cshtml";
}
<br />
<br />
<br />
<br />
<div class="container">
<div class="row">
    <div class="col-md-4">
        <form asp-action="addtocarts">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                                <input asp-for="Name" placeholder="Customer_Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                    <input asp-for="Email" placeholder="Customer_Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                    <input asp-for="Address" placeholder="Customer_Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
           
                    <input asp-for="Number" placeholder="Customer_Number" class="form-control" />
                <span asp-validation-for="Number"  class="text-danger"></span>
            </div>
            <div class="form-group">
                
                    <input asp-for="ProductName" placeholder="Product_Name" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                    <input asp-for="Product_Quantity" placeholder="Product_Quantity" class="form-control" />
                <span asp-validation-for="Product_Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add To Cart" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

</div>