
@{
    ViewData["Title"] = "FAQs";
    Layout = "~/Views/Shared/header_footer.cshtml";
}




<div class="container-fluid py-5 px-0">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <center> <h1 class="m-0 display-4 text-primary"><span class="text-secondary">FAQ</span>s</h1></center> <br />
                <h1 class="section-title position-relative text-center mb-5"></h1>
            </div>
        </div>
		<div id="inner-wrap" class="wrap hfeed kt-clear" style="overflow: visible !important;">
			<div id="primary" class="content-area" style="overflow: visible !important;">
				<div class="content-container site-container" style="overflow: visible !important;">
					<main id="main" class="site-main" role="main">
						<div class="content-wrap">
							<article id="post-141" class="entry content-bg single-entry post-141 page type-page status-publish hentry mv-content-wrapper">
								<div class="entry-content-wrap">

									<div class="entry-content single-content">

										<p style="font-weight: bold" >Every time we get a question about ice cream, we’ll try to add it here to our Ice Cream Frequently Asked Questions. If you have a question that you don’t see an answer for, please feel free to leave it in the comments and we will do our best to answer.</p>



										<h3 class="wp-block-heading">Do I need an ice cream maker to make ice cream?</h3>



										<p>You don’t need an ice cream maker to make most ice cream recipes. Most of our ice cream recipes come with instructions for making the recipe with or without and ice cream maker.</p>



										<p>If the recipe you’re making isn’t one of ours, please make sure to follow the directions listed.</p>



										<h3 class="wp-block-heading">How to make ice cream in an ice cream maker?</h3>



										<p>Because ice cream makers can vary from model to model, it’s best to follow the manufacturer’s directions when making ice cream in an ice cream maker.</p>



										<h3 class="wp-block-heading">How to make ice cream without an ice cream maker?</h3>



										<p>Chill a shallow container or a loaf pan in the freezer while you mix the ice cream ingredients. Pour the ice cream mixture into the prepared pan and freeze for 3-4 hours. Stir the ice cream every 30 minutes for the first 2 hours to help add air. This will help create a creamy, smooth texture.</p>



										<h3 class="wp-block-heading">How long does ice cream last?</h3>



										<p>Unopened store bought ice cream lasts 2-3 months. Homemade ice cream stays good for 2-3 weeks, depending on the ice cream flavor.</p>



										<p>When in doubt, if it looks bad or icy, throw it out.</p>



										<h3 class="wp-block-heading">How long is ice cream good for in the freezer?</h3>



										<p>Ice cream stays good for 2-3 months if unopened. Once it’s open, it lasts for 3-4 weeks.</p>



										<p>When in doubt, if it looks bad or icy, throw it out.</p>



										<h3 class="wp-block-heading">How do you spell ice cream?</h3>



										<p>Often people ask how do you spell ice cream? As in, is it spelled as one word or with two words? While most people spell it with two words, we say it as if it’s one word. It’s spelled ice cream but said as if it’s spelled icecream.</p>



										<h3 class="wp-block-heading">What is a pint of ice cream?</h3>



										<p>A pint is a US measurement of volume. One liquid pint equals 16 fluid ounces. One pint of ice cream is 16 fluid ounces of ice cream.</p>



										<h3 class="wp-block-heading">How big is a pint of ice cream?</h3>



										<p>There are approximately 16 fluid ounces in a pint of ice cream, which is about 2 cups. I prefer to use the volume measurements vs. weight measurements when I’m measuring a pint of ice cream.</p>



										<p>It drives us batty when ice cream shops post prices for a pint, which is a volume measurement, but weigh the ice cream on a scale as if it’s a weight measurement.</p>



										<p>Volume and weight are different! Rant over.</p>



										<h3 class="wp-block-heading">How do I scoop hard ice cream?</h3>



										<p>There are a couple of methods for scooping hard ice cream. First, you can allow the ice cream to sit at room temperature for 15-20 minutes before scooping. You can also use a heated ice cream scooper. We prefer to set a metal ice cream scooper in hot water for 5 minutes, dry the ice cream scoop, and use it to scoop ice cream.</p>
									</div><!-- .entry-content -->
								</div>
							</article><!-- #post-141 -->


						</div>
					</main><!-- #main -->




				</div>
			</div>

		</div>

        <div>
			<h1 style="font-family: 'Times New Roman', Times, serif">
				RECIPE
			</h1>
		<h4 style="font-family: 'Times New Roman', Times, serif">
			Chocolate Ice Cream: Ingredient & Substitutions
		</h4>
		<img class="img-fluid w-50" src="~/theme/assets/img/chocolate ic.jpg">
		<br />
			<br />
			
<ul style="overflow: visible !important;">
	<li data-slot-rendered-content="true" style="overflow: visible !important;">
		<strong>Heavy cream</strong>. There really isn’t an adequate substitution for heavy cream. It gives the ice cream it’s ultra-creamy texture.
	</li> <br />

<li><strong>Cocoa powder.</strong> If you’re into <em>very dark</em> chocolate ice cream, try using dark cocoa powder.</li>

				<br />


	<li><strong>Semisweet chocolate.</strong> I use 60% dark chocolate chips to make this recipe. Use whatever percentage you prefer—just know that milk chocolate will result in a sweeter ice cream and the darker the chocolate the more intense the chocolate flavor will be.</li>

				<br />

	<li><strong>Whole milk.</strong> Half and half is an acceptable substitute for whole milk!</li>

				<br />

	<li data-slot-rendered-content="true" style="overflow: visible !important;">
		<strong>Granulated sugar.</strong> There’s really no substitute here! I use organic cane sugar or regular white sugar></li>
				<br />


	<li><strong>Egg yolks.</strong> Another critical ingredient that contributes to the creaminess, don’t leave them out!</li>

				<br />

	<li><strong>Vanilla extract.</strong> Vanilla beans (seeded) or vanilla bean paste can be used in place of extract.</li>
</ul> <hr />

			<h3 style="font-family: 'Times New Roman', Times, serif">
				How to Make Strawberry Ice Cream
			</h3>

			<img class="img-fluid w-50" src="~/theme/assets/img/strawberry.jpg">
			<br />
			<br />

			<p id="mntl-sc-block_1-0-3" class="comp mntl-sc-block mntl-sc-block-html">
				You'll find a detailed ingredient list and step-by-step instructions in the recipe below, but let's go over the basics:
			</p>

			<h4 style="font-family: 'Times New Roman', Times, serif">
				Strawberry Ice Cream Ingredients
			</h4>

			<p id="mntl-sc-block_1-0-6" class="comp mntl-sc-block mntl-sc-block-html">
				These are the simple ingredients you’ll need to make this homemade strawberry ice cream recipe:&nbsp;
			</p>

			<h2 style="font-family: 'Times New Roman', Times, serif">
				Ingredients
			</h2>

			<ul class="mntl-structured-ingredients__list">
				<li data-id="5233" class="mntl-structured-ingredients__list-item"><p><span data-ingredient-quantity="true">2</span> <span data-ingredient-unit="true">cups</span> <span data-ingredient-name="true">mashed fresh strawberries</span><div data-v-2de2c288="" style="display: inline; cursor: pointer; background: white;"><!----></div></p></li> <li data-id="16278" class="mntl-structured-ingredients__list-item"><p><span data-ingredient-quantity="true">2</span> <span data-ingredient-unit="true">cups</span> <span data-ingredient-name="true">whole milk</span><div data-v-2de2c288="" style="display: inline; cursor: pointer; background: white;"><!----></div></p></li> 
				<li data-id="16258" class="mntl-structured-ingredients__list-item"><p><span data-ingredient-quantity="true">2</span> <span data-ingredient-unit="true">cups</span> <span data-ingredient-name="true">heavy cream</span><div data-v-2de2c288="" style="display: inline; cursor: pointer; background: white;"><!----></div></p></li> <li data-id="1526" class="mntl-structured-ingredients__list-item"><p><span data-ingredient-quantity="true">1</span> <span data-ingredient-unit="true">cup</span> <span data-ingredient-name="true">white sugar</span><div data-v-2de2c288="" style="display: inline; cursor: pointer; background: white;"><!----></div></p></li> 

				<li data-id="16424" class="mntl-structured-ingredients__list-item"><p><span data-ingredient-quantity="true">2</span> <span data-ingredient-unit="true">teaspoons</span> <span data-ingredient-name="true">vanilla extract</span><div data-v-2de2c288="" style="display: inline; cursor: pointer; background: white;"><!----></div></p></li> <li data-id="16421" class="mntl-structured-ingredients__list-item"><p><span data-ingredient-quantity="true">¼</span> <span data-ingredient-unit="true">teaspoon</span> <span data-ingredient-name="true">salt</span><div data-v-2de2c288="" style="display: inline; cursor: pointer; background: white;"><!----></div></p></li> <li data-id="20488" class="mntl-structured-ingredients__list-item"><p><span data-ingredient-quantity="true">2</span> <span data-ingredient-unit="true">drops</span> <span data-ingredient-name="true">red food coloring (Optional)</span><div data-v-2de2c288="" style="display: inline; cursor: pointer; background: white;"><!----></div></p></li></ul>

			<h2 style="font-family: 'Times New Roman', Times, serif">
				Directions
			</h2>
			
			<br />

			<p style="font-weight:bold">STEP 1</p>
			<p>Gather all ingredients.</p>
			<img class="img-fluid w-50" src="~/theme/assets/img/strawberry2.jpg">
			<br /><br />

			<p style="font-weight:bold">STEP 2</p>
			<p>Combine strawberries, milk, cream, sugar, vanilla, salt, and food coloring in a large bowl.</p>
			<img class="img-fluid w-50" src="~/theme/assets/img/strawberry3.jpg">
			<br /><br />

			<p style="font-weight:bold">STEP 3</p>
			<p>Pour strawberry mixture into the freezer bowl of an ice cream maker; freeze according to the manufacturer's directions.</p>
			<img class="img-fluid w-50" src="~/theme/assets/img/strawberry4.jpg">
			<br /><br />

			
			<p style="font-weight:bold">STEP 4</p>
			<p>Transfer to an airtight container and freeze until firm.</p>
			<img class="img-fluid w-50" src="~/theme/assets/img/strawberry5.jpg">
			<br />
		
		
		
		
		</div>
	</div>
</div> 