@model WebApplication2.Models.feedback

@{
    ViewData["Title"] = "feedback";
    Layout = "~/Views/Shared/header_footer.cshtml";
}



<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <center> <h1 class="m-0 display-4 text-primary"><span class="text-secondary">Feed</span>back</h1></center> <br />
                
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="contact-form bg-light rounded p-5">
                    <div id="success"></div>

                    <form asp-action="feedback">
                        <div class="form-row">
                            <div class="col-sm-6 control-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="col-sm-6 control-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label asp-for="Message" class="control-label"></label>
                            <input asp-for="Message" class="form-control" />
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="control-group"> 
                            <input type="submit" value="SendMessage" class="btn btn-primary" />
                            </div>
                        
                       
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feedback End -->



